*{
    margin:0px;
    padding: 0px;
}

.container {
    /* margin-top: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }

  .search {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }

  .search input {
    margin-bottom: 10px;
  }
  #movieData {
    margin-top: 20px;
  }